
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: sans-serif;
}
body
{
    background-color:#ffffff;
    padding: 0;
    Margin: 0;
    overflow-x: hidden;
    text-align:center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#D9EBBD;
    padding: 15px;
}
.list_item{
    display: inline-block;
}
.list_item a{
    text-decoration: none;
    padding: 0px 20px;
    color:#697849;
    font-weight: bold;
    font-size: 25px;
}
.logo{
    color: #697849;
    font-weight: bold;
    font-size: 60px;
    padding: 20px;
    padding-left: 50px;
    
}
button{
    background-color: #697849;
    padding: 12px 16px;
    margin:30px;
    border: none;
    border-radius: 30px;
    color:#D9EBBD;
    font-weight:bold;
    font-size: 23px;

}

header li{
    color:#697849;
    padding: 30px;
    font-size: x-large;
    font-style: bold;
}
header li a:hover
{
    color:#FF985A;
    text-decoration: none;
    transition: all 0.5s;
    
}
button:hover{
    background-color: #FF985A;
    color:#D9EBBD;
    transition: all 0.5s;
    
}
header ul #contact a{
    color: #ffffff;
    background: linear-gradient(90deg, #697849, #697849);
    border-radius: 30px;
    float: right;
    position: relative;
    right: 90px;
    top:1px;
    padding: 15px;

}
header .active{
    color:#453F3C
}
header li img{
    width: 140px;
    height: 40px;
    margin-top: 10px;
    float: left;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
        }
.text{
    color: #705b51;
    
}
.badges{
    align-content: center;
    padding-top: 100px ;
}
.dog{
    padding-top: 50px;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
footer{
    background-color:#697849;
    }
.footerContainer{
    width: 100%;
    padding: 40px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content:center;
    
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #D9EBBD ;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: #697849;
    opacity: 0.9;
}
/*Hover Effects on Social Media Icons */
.socialIcons a:hover{
    background-color:#697849;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color:#D9EBBD;
}
.footerNav{
    margin:30px;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    
    color:#D9EBBD;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
   }
.footerNav ul li a:hover{
    color:#FF985A;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    
    }
}
